html{
    scroll-snap-type: y mandatory;
    height: 92vh;
    background-color: black;
}

.App{
    height: 100%;
    width: 100%;
    background-color: white;
    display: grid;
    place-items: center
}

.app__videos{
    position: relative;
    height: 92vh;
    overflow: scroll;
    border-radius: 0px;
    width: 100%;
    max-width: '30%';
    scroll-snap-type:y  mandatory;
    background: black;
    place-items: center;
}

.app__fullscreen {
    /* Position the SendForm component */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  
    /* Add additional styles to make it occupy the full available screen */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }

  

/* ============== Hide scrollbar from Chrome ================== */
.app__videos::-webkit-scrollbar{
    display: none;
} 

.app__videos{
    -ms-overflow-style: none; /*IE and Edge */
    scrollbar-width: none; /* Firefox */
}