html{
    scroll-snap-type: y mandatory;
    height: 88vh;
}

.App{
    height: 100%;
    background-color: white;
    display: grid;
    place-items: center
}

.app__videos{
    position: relative;
    height: 88vh;
    overflow: scroll;
    border-radius: 0px;
    width: 100%;
    max-width: '30%';
    scroll-snap-type:y  mandatory;
    background: black;
    place-items: center;
}

/* ============== Hide scrollbar from Chrome ================== */
.app__videos::-webkit-scrollbar{
    display: none;
} 

.app__videos{
    -ms-overflow-style: none; /*IE and Edge */
    scrollbar-width: none; /* Firefox */
}